.carousel-image {
  height: 500px;
  object-fit: cover;
}

.carousel-caption {
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

footer a:hover {
  color: #f0ad4e;
  transition: color 0.3s ease-in-out;
}
.footerSubTitle {
  text-align: justify;
}
@media (max-width: 768px) {
  .carousel-image {
    height: 350px;
  }

  .carousel-caption h2 {
    font-size: 1.5rem;
  }

  .carousel-caption p {
    font-size: 1rem;
  }

  .carousel-caption a {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .carousel-image {
    height: 250px;
  }

  .carousel-caption h2 {
    font-size: 1.25rem;
  }

  .carousel-caption p {
    font-size: 0.875rem;
  }

  .carousel-caption a {
    font-size: 0.8rem;
  }
}
