@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pinyon+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

body {
  background: #000000;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

p {
  opacity: 0.5;
}

.btnRed,
.btnTransparent {
  border: none;
  border-radius: 46px;
  padding: 8px 16px;
  background: #e6533c;
  font-size: 18px;
  font-weight: 600;
}

.btnTransparent {
  border: 1px solid #ffffff;
  background: transparent;
}

.btnRed:hover,
.btnTransparent:hover {
  background: #ff0000;
}
/* Header Style */

.header {
  background: linear-gradient(180deg, #58585880, #0000001a 100%);
  padding: 0 100px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px;
}

.navTitle,
.footerTitle {
  color: #e6533c;
  font-size: 36px;
  font-weight: 800;
}

.navIcon {
  display: none; /* For big devices, it's hidden */
  color: #ffffff;
  font-size: 36px;
}

.navLinks {
  width: auto;
  border: 2px solid #ffffff1a;
  border-radius: 40px;
}

.navLinks ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px;
  margin: 0;
  list-style: none;
}

.navLinks a {
  text-decoration: none;
  color: #ffffff;
  padding: 0px 20px;
}

/* Hero Style */

.heroSection {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  gap: 50px;
  padding: 20px;
}

.heroDescription {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 30px;
  padding: 50px;
}

.heroTitle {
  font-size: 80px;
  font-weight: 900;
}

.pinyonFont {
  font-family: "Pinyon Script", cursive;
}

.heroSubTitle {
  width: 70%;
}

.heroButtons {
  display: flex;
  gap: 15px;
}

.heroImageContainer {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.heroImage {
  height: 100%;
}

.heroImageCard1,
.heroImageCard2 {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #ffffff1a;
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: #3030308a;
  padding: 20px;
}

.heroImageCard1 {
  top: 100px;
  right: 150px;
}

.heroImageCard2 {
  display: flex;
  align-items: center;
  gap: 20px;
  bottom: 50px;
  left: 100px;
}

.heroImageCard2 i {
  color: #ff0000;
}

.cardNumber {
  font-size: 40px;
  font-weight: 900;
}

.cardText {
  font-size: 16px;
  opacity: 0.5;
}

/* Change Your Habit Style */

.habitsContainer {
  text-align: center;
  padding: 0 100px;
}

.habitsContainer p {
  opacity: 0.5;
}

.habitTitle,
.runTitle,
.trainingTitle,
.bmiTitle,
.teamTitle,
.calculatorTitle,
.calendarTitle {
  font-size: 48px;
  font-weight: 900;
  padding: 20px 0px;
  text-align: center;
}

.habitSubTitle {
  padding: 0 80px 40px 80px;
}

.habitsCard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 20px;
}

.habitImage {
  border-radius: 50%;
  margin-bottom: 20px;
}

.habitCardTitle {
  font-size: 24px;
  font-weight: 800;
}

.habitCardText {
  padding: 20px;
}

/* Run Extra Style */

.runContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  border-radius: 18px;
  background: #222222;
  padding: 30px;
  margin: 40px 100px;
}

.runText {
  padding: 20px;
}

.runTitle,
.trainingTitle,
.trainingSubTitle {
  text-align: left;
}

.runSubTitle {
  padding: 20px 0;
  width: 70%;
}

.runImage {
  text-align: end;
}

.runImage img {
  border-radius: 18px;
}

/* Optional Part */
/* Training and Exercises Style */

.trainingContainer {
  margin: 40px 100px;
  border-radius: 10px;
}

.trainingSubTitle {
  margin-bottom: 40px;
}

.trainingImageContainer {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 0px;
}

#image1 {
  grid-column: span 3;
  background-color: #06ffd280;
}
#image1 img {
  mix-blend-mode: overlay;
  width: 100%;
  height: 100%;
}

#image2 {
  grid-column: span 4;
  background-color: #ff3a3aa3;
}
#image2 img {
  mix-blend-mode: overlay;
  width: 100%;
  height: 100%;
}

#image3 {
  grid-column: span 2;
  background-color: #5b5b5bb5;
}
#image3 img {
  mix-blend-mode: overlay;
  width: 100%;
  height: 100%;
}

#image4 {
  grid-column: span 4;
  background-color: #58585880;
}
#image4 img {
  mix-blend-mode: overlay;
  width: 100%;
  height: 100%;
}

#image5 {
  grid-column: span 2;
  background-color: #70fb3e92;
}
#image5 img {
  mix-blend-mode: overlay;
  width: 100%;
  height: 100%;
}

#image6 {
  grid-column: span 3;
  background-color: #0047ff4d;
}
#image6 img {
  mix-blend-mode: overlay;
  width: 100%;
  height: 100%;
}

.tImageName {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #ff5722;
}

/* BMI Calculator Style */

.bmiContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.bmiHeader {
  margin: 40px auto;
  padding: 20px;
}

.bmiSubTitle {
  width: 70%;
  margin: 0px auto;
  text-align: center;
}

.bmiBody {
  background: #222222;
  padding: 40px 100px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.bmiChartTitle,
.calculatorTitle {
  font-size: 28px;
  margin-bottom: 20px;
}

.bmiTable {
  width: 100%;
}

table,
th,
td {
  border: 1px solid #ffffff1a;
  border-collapse: collapse;
  padding: 10px;
  text-align: left;
}

td {
  font-size: 16px;
  opacity: 0.5;
}

.bmiCalculator {
  width: 100%;
}

.calculatorSubTitle {
  text-align: center;
}

.calculatorForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 20px 0;
}

input,
select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff1a;
  color: #ffffff4d;
  cursor: pointer;
}

input:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 5px #ffffff80;
  background-color: #222222;
}

#activity {
  grid-column: span 2;
}

/* ================================================================================================================================================================== */

/* Challenge part. This part will more useful with JS. But in this assignment I only use HTML and CSS */

.workoutCalendar {
  background-color: #111111;
  color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  margin: 50px 0;
}

.calendarSubTitle {
  margin: 20px auto;
}

.calendarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.calendarBody,
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.days {
  grid-column: span 7;
}

.year-month {
  display: grid;
  grid-column: span 7;
  gap: 10px;
  font-size: 36px;
  font-weight: 800;
  background: #e6533c;
  padding: 20px;
  border-radius: 5px;
  background: linear-gradient(0deg, #0000001a, #e6533c);
}

.day,
.calendarCell {
  background-color: #3030308a;
  padding: 20px;
  border-radius: 5px;
  background: linear-gradient(145deg, #434343, #1a1a1a);
}

.workoutDay {
  background-color: #ff5722;
  background: linear-gradient(145deg, #ff7043, #ff3d00);
  color: #ffffff;
  font-weight: 800;
}

.calendarCell:hover {
  transform: scale(1.1);
  background-color: #555;
}
.calendarLegend {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.legendItem {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.legendColor {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 3px;
}

/* ================================================================================================================================================================== */

/* Meet Our Team Style */
.teamContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 200px;
}

.teamSubTitle {
  width: 60%;
}

.teamMembers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-content: space-between;
  background: #222222;
  padding: 30px;
  margin: 20px;
  border-radius: 18px;
}

.teamMember {
  position: relative;
}

.trainerInfo {
  text-align: left;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #00000077;
  border-radius: 10px;
  padding: 6px;
}

.teamMember img {
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 300px;
  border-radius: 18px;
}

/* Footer Style */

.footerContent {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 20px;
  padding: 20px 0;
}

.footerTitle,
.contactTitle,
.footerGetStart {
  padding-bottom: 20px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  opacity: 0.5;
  text-decoration: none;
}

.footer {
  background: #ffffff1a;
  padding: 40px 100px;
  margin-top: 50px;
}

hr {
  border: 2px solid #ffffff1a;
  margin: 20px 0;
}

.copyRights {
  text-align: center;
  font-size: 14px;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

/* Responsive Styles */
@media (max-width: 576px) {
  /* Header Section */
  .header,
  .heroDescription,
  .habitsContainer,
  .trainingContainer {
    padding: 0;
    margin: 0;
  }

  .navLinks {
    display: none;
  }

  .navIcon {
    display: inline;
  }

  .navbar {
    padding: 20px;
  }

  /* Hero Section */
  .heroSection {
    flex-direction: column;
  }

  .heroTitle {
    font-size: 40px;
  }

  .heroSubTitle {
    text-align: justify;
    margin: 0px auto;
  }

  .heroButtons {
    justify-content: center;
  }

  .heroImageCard1 {
    top: 90px;
    right: 10px;
  }

  .heroImageCard2 {
    bottom: 90px;
    left: 10px;
  }

  /* Change Your Habits Section */
  .habitsCard {
    grid-template-columns: 1fr;
    padding: 0;
  }

  /* Extra Run Style */
  .runContainer {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 0;
    margin: 20px;
  }

  .runText,
  .runImage {
    text-align: center;
    padding: 20px;
  }
  .runTitle {
    text-align: center;
  }

  .runSubTitle {
    margin: 0px auto;
  }
  .runImage img {
    width: 100%;
    border-radius: 18px;
  }

  /* Trainings and Exercises Style */
  .trainingContainer {
    margin: 0px;
    padding: 0px 30px;
  }

  .trainingImageContainer {
    grid-template-columns: repeat(9, 1fr);
    gap: 0px;
  }

  #image1 {
    grid-column: span 5;
  }

  #image2 {
    grid-column: span 4;
  }

  #image3 {
    display: none;
  }

  #image4 {
    grid-column: span 4;
  }

  #image5 {
    grid-column: span 5;
  }

  #image6 {
    display: none;
  }

  /* BMI Calculator Style */
  .bmiContainer {
    padding: 0;
    margin: 0;
  }

  .bmiHeader {
    padding: 0;
    text-align: center;
  }

  .bmiBody {
    padding: 20px 0;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .bmiCalculator button {
    margin-left: 20px;
  }

  .bmiTable,
  .calculatorTitle,
  .calculatorSubTitle {
    text-align: center;
  }

  .calculatorForm {
    grid-template-columns: 45% 45%;
    justify-content: center;
  }

  #activity {
    grid-column: span 2;
  }

  /* ================================================================================================================================================================== */
  /* Challenge Part */
  .calendarBody,
  .days {
    gap: 5px;
  }

  .year-month {
    gap: 5px;
    font-size: 20px;
    padding: 10px;
  }

  .day,
  .calendarCell {
    width: 20px;
    padding: 10px;
  }

  /* ================================================================================================================================================================== */

  /* Meet Our Team Style */
  .teamContainer {
    padding: 0;
  }
  .teamSubTitle {
    width: 80%;
    text-align: justify;
  }
  .teamMembers {
    grid-template-columns: 1fr;
    margin: 20px;
  }
  .teamMember img {
    height: 200px;
  }
  /* Footer Style */
  .footerContent {
    grid-template-columns: 1fr;
  }

  .footer {
    padding: 40px;
  }

  .footerSubTitle {
    text-align: justify;
  }
}
